@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.article-title h2 {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.article-image a img {
    margin: 0 auto;
}

.div-title {
    display: flex;
    align-items: center;
}

div.error {
    color: #F55;
}

div.destroy.text-right a,
div.destroy.text-right form.destroy {
    display: inline-block;
    width: 20%;
    text-align: center;
}

div.destroy.text-right i,
div.destroy.text-right form.destroy button {
    font-size: 1.25rem;
    width: 100%;
    height: 40px !important;
}

div.destroy i, div.destroy button i {
    color: #fff;
    font-size: 1.25rem;
}

.vote i {
    font-size: 1.25rem;
}

.dropdown-menu {
    will-change: transform;
    transform: translate3d(0px, 27px, 0px);
}

.dropdown-menu a {
    display: block;
    width: 100%;
}
